.sidebar {
    /* position: sticky;  */
    top: 0;
    left: 0;
    width: 300px;
    min-width: 300px;
    /* display: flex; */
    height: 100%;
    background-color: transparent;
    color: black;
    padding-left: 45px;
    padding-top: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: px;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
}

/* Style for links on hover */
/* .sidebar ul li a:hover {
    font-weight: bold;
} */

.sidebar ul li a p {
    color: #000000;
    /* color: red; */
    font-size: 18px;
}

/* LINK HOVERS */
.special-link1:hover span {
        color: #ff6a00; /* Change to desired hover color */
    }

.special-link2:hover span {
        color: #ff531d; /* Change to desired hover color */
    }
    
.special-link3:hover span {
        color: #fe372e; /* Change to desired hover color */
    }

.special-link4:hover span {
        color: #fa043b; /* Change to desired hover color */
    }

.special-link5:hover span {
        color: #f10049; /* Change to desired hover color */
    }

.special-link6:hover span {
        color: #e10057; /* Change to desired hover color */
    }

.special-link7:hover span {
        color: #d10061; /* Change to desired hover color */
    }

.special-link8:hover span {
        color: #c1006a; /* Change to desired hover color */
    }

.special-link9:hover span {
        color: #b10070; /* Change to desired hover color */
    }

.special-link10:hover span {
        color: #a10076; /* Change to desired hover color */
    }

.special-link11:hover span {
        color: #8f007d; /* Change to desired hover color */
    }

.special-link12:hover span {
        color: #7d0084; /* Change to desired hover color */
    }

.special-link13:hover span {
        color: #67008e; /* Change to desired hover color */
    }

.special-link14:hover span {
        color: #4f0099; /* Change to desired hover color */
    }

.special-link15:hover span {
        color: #0d009e; /* Change to desired hover color */
    }
  
@media only screen and (max-width: 400px) {
    .sidebar {
        display: none;
    }
}
    /* BLACK BOX STUFF GOES HERE!!!!!!!!!! */
    /* .sidebar .blackbox {
        background-color: black;
        padding: 20px;
        width: 200px;
        height: 50px;
        position: absolute;
        bottom: 30px;
        border-radius: 20px;
    }
    .sidebar .blackbox h2 {
    color: #B3CEE5;
    font-size: 14px;
    font-weight: lighter;
    text-align: left;
    } */
    


    /* selected link */
/* .sidebar ul li a p:active {
    color: yellow;
} */

