body {
    margin: 0;
    margin-right: 20%;
    margin-top: 10px;
    padding: 0;
    background-color: #B3CEE5;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

h2 {
    color: red;
}

.main-content {
    flex-grow: 1;
    padding-right: 30px;
    margin-top: 30px;
}

.videoplacement {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding-top: 30px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 1px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding-right: 7px;
    text-align: center;
}

/* Removed this garbage animation */
/* .thumbnailImage {
    transition: all 0.5s ease;
} */

.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    z-index: 1000;
    max-width: 90%;
    max-height: 90%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

  /* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    .sidebar ul {
        display: none; /* Hide the navigation menu by default on mobile */
    }

    .hamburger-menu {
        display: block; /* Display the hamburger menu button on mobile */
    }

    .main-content {
        max-width: 100%; /* Adjust the width of the main content for mobile */
        padding: 10px; /* Adjust padding for mobile */
    }

    .thumbnailImage {
        width: 100%; /* Make images take 100% width of their container on mobile */
    }
}